---
layout: default
---
<div class="blog-index span9">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
    <div class="divider"></div>
  {% endfor %}

  <div class="pagination pagination-info">
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="btn btn-info previous">
      <i class="fui-arrow-left"></i>
      OLDER
    </a>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1%}
    <a href="/" class="btn btn-info next">
      NEWER
      <i class="fui-arrow-right"></i>
    </a>
      {% else %}
    <a href="/page{{ paginator.previous_page }}" class="btn btn-info next">
      NEWER
      <i class="fui-arrow-right"></i>
    </a>
      {% endif %}
    {% endif %}
  </div>
</div>
<aside class="sidebar span3">
  {% include aside.html %}
</aside>
