[Unit]
Description=Announce znc_1
BindsTo=znc.1.service

[Service]
ExecStart=/bin/sh -c "while true; do etcdctl set /services/znc/znc_1 '{ \"host\": \"%H\", \"port\": 6697, \"version\": \"52c7248a14\" }' --ttl 60;sleep 45;done"
ExecStop=/usr/bin/etcdctl rm /services/znc/znc_1

[X-Fleet]
X-ConditionMachineOf=znc.1.service
