<ul class='nav nav-list'>
  <li class='nav-header'>About Me</li>
  <li>
    A little something about me.
  </li>
</ul>
<ul class='nav nav-list'>
  <li class='nav-header'>Recent Posts</li>
  {% for post in site.posts limit:10 %}
  <li>
    <a href='{{ BASE_PATH }}{{ post.url }}'>{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>
<ul class='nav nav-list'>
  <li class='nav-header'>Categories</li>
  {%  for category in site.categories %}
  <li>
    <a href='/categories/{{ category[0] | url_encode }}/'>
      {{ category[0] }}
      <span class='nav-counter'>{{category[1].size}}</span>
    </a>
  </li>
  {% endfor %}
</ul>
