<div class='navbar navbar-inverse'>
  <div class='navbar-inner'>
    <div class='container'>
      <button class='btn btn-navbar' data-target='#nav-collapse-03' data-toggle='collapse' type='button'></button>
      <a class='brand' href='#'>{{site.name}}</a>
      <div class='nav-collapse collapse'>
        <ul class='nav'>
          <li>
            <a href=''>Blog</a>
          </li>
          <li>
            <a href='/blog/archives/'>Archives</a>
          </li>
        </ul>
        <form action='' align='center' class='navbar-search form-search pull-right'>
          <div class='input-append'>
            <input name='q' type='hidden' value='site:{{ site.url | shorthand_url }}'>
            <input class='search-query span2' name='q' placeholder='Search' results='0' type='text'>
            <button class='btn btn-large' type='submit'>
              <i class='fui-search'></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
