\---
layout: default

\---
%div.blog-index.span9
  %article
    %h1 {{ page.category }}
    %div.divider
    {% for post in site.categories[page.category] %}
    %div.row
      %div.span3
        %h2
          {{ post.date | date_to_string }}
      %div.span5
        %h4
          %a{href: "{{post.url}}"} {{ post.title }}
        {% if post.categories and post.categories != empty %}
        %p.meta
          posted in
          {% for category in post.categories.sort %}
          %a{href: "/categories/{{category | UrlEncode }}"}
            %u {{ category }}
          {% endfor %}
        {% endif %}
    {% endfor %}
%aside.sidebar.span3
  {% include aside.html %}
