{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
!!! 5
%html
  {% include head.html %}
  %body
    %div.container
      %header{:role => 'banner'} {% include header.html %}
      %nav{:role => 'navigation'} {% include navi.html %}
      %div.row
        {{ content | expand_urls: root_url }}
    %footer {% include footer.html %}
