\---
layout: default
\---
%div.blog-index.span9
  {% assign post = page %}
  %article
    {% include article.html %}
  %div.divider
  {% include disqus.html %}
  %div.divider
  {% include related_posts.html %}
%aside.sidebar.span3
  {% include aside.html %}
