%ul.nav.nav-list
  %li.nav-header About Me
  %li
    A little something about me.

%ul.nav.nav-list
  %li.nav-header Recent Posts
  %li
    %a{href: "#"} UXDesign
  %li
    %a{href: "#"} UXDesign

%ul.nav.nav-list
  %li.nav-header Categories
  %li
    %a{href: "#"} UXDesign
  %li.divider
  %li
    %a{href: "#"} UXDesign
  