%div.bottom-menu
  %div.container
    %div.row
      %div.span8
        %ul.bottom-links
          %li
            %a{href: '#'} About Us
      %div.span4
        %ul.bottom-icons
          %li
            %a.fui-twitter{href: '#'}
          %li
            %a.fui-facebook{href: '#'}
              