/* non highlighted code colors */
/* line 43, ../sass/syntax.css.scss */
pre {
  margin: 0.8em 0;
}

/* line 44, ../sass/syntax.css.scss */
code {
  font-size: 1em;
}

/* line 48, ../sass/syntax.css.scss */
.code {
  padding-left: 10px;
}

/* line 50, ../sass/syntax.css.scss */
.highlight {
  font-size: 1em;
  line-height: 1.35em;
  font-weight: normal;
  margin: 10px 0 10px 0;
  border: 1px solid #073642 !important;
  background-color: #000;
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Constant */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.String */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Interpol */
  /* Literal.String.Regex */
  /* Literal.String.Single */
}
/* line 57, ../sass/syntax.css.scss */
.highlight .line-numbers {
  text-align: right;
  font-size: 1em;
  line-height: 1.35em;
  background: #073642 url('/images/noise.png?1365224196') top left !important;
  border-right: 1px solid #00232c !important;
  -webkit-box-shadow: #083e4b -1px 0 inset;
  -moz-box-shadow: #083e4b -1px 0 inset;
  box-shadow: #083e4b -1px 0 inset;
  text-shadow: #021014 0 -1px;
  padding: .8em !important;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 72, ../sass/syntax.css.scss */
.highlight .line-numbers span {
  color: #586e75 !important;
}
/* line 77, ../sass/syntax.css.scss */
.ie8 .highlight .line-numbers {
  font-size: 1.01em;
}
/* line 99, ../sass/syntax.css.scss */
.highlight .c {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 100, ../sass/syntax.css.scss */
.highlight .cm {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 101, ../sass/syntax.css.scss */
.highlight .cp {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 102, ../sass/syntax.css.scss */
.highlight .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 103, ../sass/syntax.css.scss */
.highlight .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
/* line 104, ../sass/syntax.css.scss */
.highlight .err {
  color: #dc322f !important;
  background: none !important;
}
/* line 105, ../sass/syntax.css.scss */
.highlight .k {
  color: #cb4b16 !important;
}
/* line 106, ../sass/syntax.css.scss */
.highlight .o {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
/* line 107, ../sass/syntax.css.scss */
.highlight .p {
  color: #93a1a1 !important;
}
/* line 108, ../sass/syntax.css.scss */
.highlight .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}
/* line 109, ../sass/syntax.css.scss */
.highlight .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block;
}
/* line 110, ../sass/syntax.css.scss */
.highlight .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block;
}
/* line 111, ../sass/syntax.css.scss */
.highlight .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}
/* line 113, ../sass/syntax.css.scss */
.highlight .gh {
  color: #586e75 !important;
}
/* line 114, ../sass/syntax.css.scss */
.highlight .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block;
}
/* line 115, ../sass/syntax.css.scss */
.highlight .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}
/* line 118, ../sass/syntax.css.scss */
.highlight .gs {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
/* line 119, ../sass/syntax.css.scss */
.highlight .gu {
  color: #6c71c4 !important;
}
/* line 121, ../sass/syntax.css.scss */
.highlight .kc {
  color: #859900 !important;
  font-weight: bold !important;
}
/* line 122, ../sass/syntax.css.scss */
.highlight .kd {
  color: #268bd2 !important;
}
/* line 123, ../sass/syntax.css.scss */
.highlight .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
/* line 124, ../sass/syntax.css.scss */
.highlight .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}
/* line 125, ../sass/syntax.css.scss */
.highlight .kt {
  color: #2aa198 !important;
}
/* line 126, ../sass/syntax.css.scss */
.highlight .n {
  color: #268bd2 !important;
}
/* line 127, ../sass/syntax.css.scss */
.highlight .na {
  color: #268bd2 !important;
}
/* line 128, ../sass/syntax.css.scss */
.highlight .nb {
  color: #859900 !important;
}
/* line 130, ../sass/syntax.css.scss */
.highlight .no {
  color: #b58900 !important;
}
/* line 132, ../sass/syntax.css.scss */
.highlight .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 133, ../sass/syntax.css.scss */
.highlight .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 134, ../sass/syntax.css.scss */
.highlight .nn {
  color: #b58900 !important;
}
/* line 135, ../sass/syntax.css.scss */
.highlight .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 136, ../sass/syntax.css.scss */
.highlight .nx {
  color: #b58900 !important;
}
/* line 139, ../sass/syntax.css.scss */
.highlight .vg {
  color: #268bd2 !important;
}
/* line 140, ../sass/syntax.css.scss */
.highlight .vi {
  color: #268bd2 !important;
}
/* line 141, ../sass/syntax.css.scss */
.highlight .nv {
  color: #268bd2 !important;
}
/* line 143, ../sass/syntax.css.scss */
.highlight .mf {
  color: #2aa198 !important;
}
/* line 144, ../sass/syntax.css.scss */
.highlight .m {
  color: #2aa198 !important;
}
/* line 145, ../sass/syntax.css.scss */
.highlight .mh {
  color: #2aa198 !important;
}
/* line 146, ../sass/syntax.css.scss */
.highlight .mi {
  color: #2aa198 !important;
}
/* line 148, ../sass/syntax.css.scss */
.highlight .s {
  color: #2aa198 !important;
}
/* line 151, ../sass/syntax.css.scss */
.highlight .sd {
  color: #2aa198 !important;
}
/* line 152, ../sass/syntax.css.scss */
.highlight .s2 {
  color: #2aa198 !important;
}
/* line 153, ../sass/syntax.css.scss */
.highlight .se {
  color: #dc322f !important;
}
/* line 155, ../sass/syntax.css.scss */
.highlight .si {
  color: #268bd2 !important;
}
/* line 157, ../sass/syntax.css.scss */
.highlight .sr {
  color: #2aa198 !important;
}
/* line 158, ../sass/syntax.css.scss */
.highlight .s1 {
  color: #2aa198 !important;
}
/* line 161, ../sass/syntax.css.scss */
.highlight div .gd, .highlight div .gd .x, .highlight div .gi, .highlight div .gi .x {
  display: block;
}
